/*main*/
html{
    background-image: url(../images/fondo.png);
    padding: 10px;
}
/*News*/
.newsBody{
    background-image: url(../images/papyrus.jpg);
    width: 70%;
    position: absolute;
    background-position: center;
    left: 15%;
    right: 15%;
    padding: 10px;
    margin: 5px;
}
#image1{
    background-image: url(../images/Gerald2.jpg);
    position: relative;
    float: left;
    width: 630px;
    height: 350px;
    margin: 5px;
}
#image2{
    background-image: url(../images/GameBase.jpg);
    position: static;
    top: 30px;
    width: 1302px;
    height: 704px;
    background-position: center;
}
#image3{
    background-image: url(../images/HeartsOfStone.jpg);
    position: static;
    top: 30px;
    width: 1252px;
    height: 704px;
}
#image4{
    background-image: url(../images/BloodAndWine.jpg);
    position: static;
    top: 30px;
    width: 1252px;
    height: 704px;
}
#logo{
    background-image: url(../images/logo.jpg);
    position: fixed;
    width: 1280px;
    height: 720px;
    margin: 40px;
    right: 15%;
}
#formulario{
    background-image: url(../images/papyrus.jpg);
}
/*Menu*/
.topnav {
  background-color: #333;
  overflow: hidden;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.active {
  background-color: #4CAF50;
  color: white;
}

.topnav .icon {
  display: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 17px; 
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.topnav a:hover, .dropdown:hover .dropbtn {
  background-color: #555;
  color: white;
}

.dropdown-content a:hover {
  background-color: #ddd;
  color: black;
}

.dropdown:hover .dropdown-content {
  display: block;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child), .dropdown .dropbtn {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .topnav.responsive .dropdown {float: none;}
  .topnav.responsive .dropdown-content {position: relative;}
  .topnav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }
}